<!-- import_complete.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Import Complete</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1> SQL Server Table</h1>
    <form method="GET" action="{% url 'filtered_data' %}">
        <!-- Render form fields -->
        <label for="id_field1_filter">Field 1 Filter:</label>
        {{ form.field1_filter }}
        <br>
        <label for="id_field2_filter">Field 2 Filter:</label>
        {{ form.field2_filter }}
        <br>
        <!-- Add more fields as needed -->

        <!-- Submit button -->
        <button type="submit">Apply Filters</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Sales Manager</th>
                <th>Customer No.</th>
                <th>Sales £</th>
                <!-- Add more headers for additional fields -->
            </tr>
        </thead>
        <tbody>
            {% for item in queryset %}
                <tr>
                    <td>{{ item.Sales_person }}</td>
                    <td>{{ item.Cust_no }}</td>
                    <td>{{ item.Sales_Amount }}</td>
                    <!-- Add more columns for additional fields -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
